@model Isas.Models.InsurerViewModels.MotorsViewModel

@{
    ViewData["Title"] = "Motors";
}

<table class="table table-striped">
    <caption style="color:royalblue">Motor</caption>
    <thead>
        <tr>
            <th>
                Registration
            </th>
            <th>
                Make
            </th>
            <th>
                Year
            </th>
            <th>
                Engine Number
            </th>
            <th>
                Chassis Number
            </th>
            <th>
                Sum Insured
            </th>
            <th>
                Premium
            </th>
            <th>
                Cover
            </th>
            <th>
                CFG
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Motors)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MotorMake.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ChassisNumber)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Premium)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coverage.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CFG)
                </td>
                <td>
                    <a asp-controller="Claims"
                       asp-action="Create"
                       asp-route-productId="@Model.ProductID"
                       asp-route-clientId="@Model.ClientID"
                       asp-route-policyId="@Model.PolicyID"
                       asp-route-riskId="5"
                       asp-route-riskitemId="@item.ID">
                        Add Claim
                    </a> |
                    <a asp-controller="Motors" asp-action="Edit" asp-route-id="@item.ID">Edit</a> | 
                    <a asp-controller="Products" asp-action="DetailsProductRisk" asp-route-id="@item.ID">Details</a> |
                    <a asp-controller="Products" asp-action="DeleteProductRisk" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Motors"
       asp-action="Create"
       asp-route-productId="@Model.ProductID"
       asp-route-clientId="@Model.ClientID"
       asp-route-policyId="@Model.PolicyID"
       class="btn btn-success">
        + Add Motor
    </a>
</div>