@model Isas.Models.BulkHandleGenerator

@{
    ViewData["Title"] = "Delete Bulk Handle";
}

<h2>Delete Bank</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bulk Handle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BulkDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BulkDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordCount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index" asp-route-tableName="@Model.TableName">Return</a>
        </div>
    </form>
</div>
