@model Isas.Models.InsurerViewModels.FormatTypesViewModel

@{
    ViewBag.Title = "Format Types";
}

<h2>Format Types</h2>

<table class="table table-striped">
    <caption style="color:royalblue">Format Types</caption>
    <thead>
        <tr>
            <th>
                Field Label
            </th>
            <th>
                Position
            </th>
            @if (Model.UploadFileType == Isas.Models.UploadFileTypes.FixedLengthDelimited)
            {
                <th>
                    Column Length
                </th>
            }
            <th>
                Is Key?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FormatTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldLabel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                @if (Model.UploadFileType == Isas.Models.UploadFileTypes.FixedLengthDelimited)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ColumnLength)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.IsKey)
                </td>
                <td>
                    <a asp-controller="FormatTypes"
                        asp-action="Edit"
                        asp-route-productId="@Model.ProductID"
                        asp-route-Id="@item.ID"
                        asp-route-uploadFileType="@Model.UploadFileType">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index"
       asp-route-productId="@Model.ProductID"
       class="btn btn-info">
       Return
    </a>
</div>