@model IEnumerable<Isas.Models.Invoice>

@{
    ViewData["Title"] = "Invoices";
}

<h2>Invoices</h2>


<table class="table table-striped">
    <caption style="color:royalblue">Invoices</caption>
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Details" asp-route-Id="@item.InvoiceNumber">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
