@model Isas.Models.PolicyStatus

@{
    ViewData["Title"] = "Policy Status Details";
}

<h2>Policy Status Details</h2>

<div>
    <h4>Policy Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updatable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updatable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Return</a>
</div>
