@model Isas.Models.InsurerViewModels.LoansViewModel

@{
    ViewData["Title"] = "Loans";
}

<table class="table table-striped">
    <caption style="color:royalblue">Loans</caption>
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Account Number
            </th>
            <th>
                Term
            </th>
            <th>
                Rate
            </th>
            <th>
                Loan Date
            </th>
            <th>
                Sum Insured
            </th>
            <th>
                Premium
            </th>
            <th>
                Settlement Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Loans)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Component.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanDate)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Premium)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SettlementDate)
                </td>
                <td>
                    <a asp-controller="Claims"
                       asp-action="Create"
                       asp-route-productId="@Model.ProductID"
                       asp-route-clientId="@Model.ClientID"
                       asp-route-policyId="@Model.PolicyID"
                       asp-route-riskId="4"
                       asp-route-riskitemId="@item.ID">
                        Add Claim
                    </a> |
                    <a asp-controller="Products" asp-action="DetailsProductRisk" asp-route-id="@item.ID">Details</a> |
                    <a asp-controller="Products" asp-action="DeleteProductRisk" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Loans"
       asp-action="Create"
       asp-route-productId="@Model.ProductID"
       asp-route-clientId="@Model.ClientID"
       asp-route-policyId="@Model.PolicyID"
       class="btn btn-success">
        + Add Loan
    </a>
</div>