@model PaginatedList<Isas.Models.MotorMake>

@{
    ViewData["Title"] = "Motor Makes";
}

<h2>Motor Makes</h2>

<p>
    <a asp-action="Create">Add Make</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Make
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="MotorModels" asp-action="Index" asp-route-motormakeid="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled btn">
    Previous
</a>

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled btn">
    Next
</a>