@model Isas.Models.InsurerViewModels.InsurersViewModel

@{
    ViewData["Title"] = "Insurers";
}

<h2>Insurers</h2>

<table class="table table-striped">
    <caption style="color:royalblue">Insurers</caption>
    <thead>
        <tr>
            <th>
                Insurer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Insurers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (item.Payable == false)
            {
                <td>
                    <a asp-controller="Payees"
                       asp-action="Create"
                       asp-route-payeeclassId="@Model.PayeeClassID"
                       asp-route-payeeitemId="@item.ID"
                       asp-route-payeeName="@item.Name">
                        Make Payee
                    </a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <label>Payee</label> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Create"
       asp-route-payeeclassId="@Model.PayeeClassID"
       class="btn btn-success">
        + Add Insurer
    </a>
</div>