@model Isas.Models.InsurerViewModels.BankBranchesViewModel

@{
    ViewData["Title"] = "Bank Branches";
}

<h2>Bank Branches</h2>

<table class="table table-striped">
    <caption style="color:royalblue">Branches</caption>
    <thead>
        <tr>
            <th>
                Branch
            </th>
            <th>
                Branch Code
            </th>
            <th>
                SwiftCode
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BankBranches) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SwiftCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Create"
       asp-route-bankId="@Model.BankID"
       class="btn btn-success">
        + Add Branch
    </a> |
    <a asp-controller="Banks"
       asp-action="Index"
       class="btn btn-info">
        Return
    </a>
</div>

