@model Isas.Models.Claim

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Claim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClaimExcess)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClaimExcess)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncidentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncidentDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecoverFromThirdParty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecoverFromThirdParty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReserveInsured)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReserveInsured)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReserveInsuredRevised)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReserveInsuredRevised)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReserveThirdParty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReserveThirdParty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReserveThirdPartyRevised)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReserveThirdPartyRevised)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClaimNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
