@using Microsoft.AspNetCore.Http;

@model PaginatedList<Isas.Models.Client>

@{
    ViewData["Title"] = "Product Clients";
}

<h2>Product Clients</h2>

@*<form asp-action="CreateProductClient" method="get">
    <hr />
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="hidden" name="productid" value="@productId"/>
            <input type="hidden" name="onproduct" value="0" />
            <input type="submit" value="Search" class="btn btn-default" /> | 
            <a asp-action="CreateProductClient"
               asp-route-searchString="@ViewData["currentFilter"]"
               asp-route-productid="@ViewData["ProductID"]"
               asp-route-onproduct="1"
               class="btn btn-default">
               Product Check
            </a> | 
            <a asp-action="CreateProductClient"
               asp-route-productid="@ViewData["ProductID"]"
               asp-route-onproduct="0">
               Full List
            </a>
        </p>
    </div>
</form>*@

<form asp-action="CreateProductClient" method="get">
    <div class="form-horizontal">
        <hr />
        <input type="hidden" name="productid" value="@ViewData["ProductID"]" />
        <input type="hidden" name="onproduct" value="0" />
        <div class="form-group">
            <label class="col-md-2 control-label">Find by name: </label>
            <div class="col-md-10">
                <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-warning btn" /> |
                <a asp-action="CreateProductClient"
                   asp-route-searchString="@ViewData["currentFilter"]"
                   asp-route-productid="@ViewData["ProductID"]"
                   asp-route-onproduct="1"
                   class="btn btn-primary">
                    Product Check
                </a> |
                <a asp-action="CreateProductClient"
                   asp-route-productid="@ViewData["ProductID"]"
                   asp-route-onproduct="0"
                   class="btn btn-bracketed">
                    Full List
                </a>
            </div>
        </div>
    </div>
</form>

<p>
    @ViewData["Message"]
</p>

<table class="table table-striped">
    <caption>Product Clients</caption>
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                ID Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDNumber)
                </td>
                <td>
                    @if (int.Parse(ViewData["CheckOnProduct"].ToString()) == 0)
                    {
                        <a asp-action="AddClient" asp-route-productId="@ViewData["ProductID"]" asp-route-clientId="@item.ID">Add | </a>                  
                    }
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div>
    <a asp-action="CreateProductClient"
       asp-route-productId="@ViewData["ProductID"]"
       asp-route-onproduct="@ViewData["CheckOnProduct"]"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-info @prevDisabled btn">
        Previous
    </a>
    <a asp-action="CreateProductClient"
       asp-route-productId="@ViewData["ProductID"]"
       asp-route-onproduct="@ViewData["CheckOnProduct"]"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-info @nextDisabled btn">
        Next
    </a>

    <a asp-action="ProductClients"
       asp-route-productId="@ViewData["ProductID"]"
       class="btn btn-info">
        Return
    </a>
</div>
